.container {
  display: flex;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bgSoft);
  border-radius: 4px;
  width: 500px;
  padding: 50px;
  text-align: center;
}

.errorText {
  color: var(--error);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  outline: none;
}

.form button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
